@import "tailwindcss";

@theme {
  --color-primary: #fdfbf7;
  --color-secondary: #e9d5ca;
  --color-accent: #d4bdae;
  --color-stone-800: #292524;
  --color-stone-500: #78716c;

  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@utility serif {
  font-family: var(--font-playfair);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-primary);
  color: var(--color-stone-800);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

.serif {
  font-family: var(--font-playfair);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 10px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}